body{
    background-image: url(../IMG/fondo.png);

}

#Contacto > a{
    color: #0e2038;
    font-family: 'Source Serif Pro', serif;
    font-weight:bolder;
    transition: all 0.4s ease 0s;
}
#Contacto > a:hover{
    color: black;
}

.container{
    width: 1300px;
    margin: auto;
}

header{
    outline: black solid 1px;
    border-radius: 10px;
    background-color: #0e2038;
    box-shadow: 0px 0px 40px black;
}

nav{
    margin: 20px;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li a{
    text-decoration: none;
    font-family: 'Source Serif Pro', serif;
    color: #dad5cf;
    transition: all 0.4s ease 0s;
}
nav ul li a:hover{
    color: white;
}

.nav__ul{
    display: flex;
    justify-content: flex-end;
    padding-left: 10px;
    align-items: center;
}


.nav__li{

    font-size: 22px;
    margin-right: 2rem ;
    padding: 5px;

}
.nav__li:first-child{
    margin-right: auto;
}
.nav__li:first-child > h1{
    font-family: 'Source Serif Pro', serif;
    margin: 15px 0;
    color:#dad5cf;
    font-size: 30px;
    font-weight: normal;
    
    
}

.nav__li_contacto{
    font-size: 22px;
    padding: 5px;
    background-color: #dad5cf;
    transition: all 0.4s ease 0s;
}
.nav__li_contacto:hover{
    background-color: white;
}



.main_page{
    outline: black solid 1px;
    border-radius: 10px;
    background-color:#dad5cf; 
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 40px black;


}
.title{
    display: flex;
    align-items: center;
    column-gap: 40px;
    margin: 30px;
    padding-bottom: 25px;
    border-bottom: #0e2038 solid 1px;
}
.img_container{
    height: 250px;
    width: 250px;
    border-radius: 100%;
    outline: solid #0e2038 2px;
    overflow: hidden;
}
.img2_container{
    height: 100px;
    width: 100px;
    margin-left: 120px;
    display: none;
}

img{
    object-fit: fill;
}

h2{
    font-size: 3rem;
    font-family: 'Source Serif Pro', serif;
    font-variant: small-caps;
    
}

.about_me{
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}
.about_me__p{
    font-family: 'Source Serif Pro', serif;
    font-size: 30px;
    width: 70%;
    margin: 0;
    padding-left: 30px;
    padding-right: 50px;
    text-align: justify;
}

aside{
    flex-grow: 2;
    text-align: center;
    padding-right: 60px;
}
.about_me__ul{
    display: inline-block;
    text-align: left;
    margin: auto;
    background-color: #0e2038;
    border-radius: 10px;
    font-size: 25px;
    padding: 0 20px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}
.about_me__ul__li{
    margin: 35px 0px;
    color: #dad5cf;
    font-family: 'Source Serif Pro', serif;
    font-size: 20px;
}

.trayectoria{
    outline: black solid 1px;
    border-radius: 10px;
    background-color:#dad5cf; 
    box-shadow: 0px 0px 40px black;
    margin-top: 20px;
    padding-top: 20px;
}
#h2_trayectoria{
    margin: 0 30px;
    border-bottom: #0e2038 solid 1px;
}

.timeline{
    margin: 0 auto;
    max-width: 1200px;
    padding: 25px;
    padding-bottom: 7px;
    display: grid;
    grid-template-columns: 1fr 4px 1fr;
    font-size: 30px;
    font-family: 'Source Serif Pro', serif;

}
.timeline__date_left{
    text-align: right;
    padding-right: 20px;
    
}
.timeline__date{
    padding-left: 20px;
    
}
.timeline__middle{
    position: relative;
    background-color: #b3aca3;
    top: 7px;
}

.timeline__data_right{
    padding: 10px;
    margin: 10px 0 20px 20px;
    background-color: #b3aca3;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.timeline__data_left{
    padding: 10px;
    margin: 10px 20px 20px 0;
    background-color: #b3aca3;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.timeline__point{
    position: absolute;
    top: 0px;
    left: -8px;
    width: 20px;
    height: 20px;
    background-color: #0e2038;
    border-radius: 50%;
}

.trayectoria h3{
    font-family: 'Source Serif Pro', serif;
    font-variant: small-caps;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding: 10px 0 10px 0;
    font-weight: 100;
    

}
.trayectoria h4{
    font-family: 'Source Serif Pro', serif;
    font-variant: small-caps;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    margin-top: 10px;
    border-top: #0e2038 solid 2px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 5px 0 0 5px;
}









@media (max-width: 1300px){
        .container{
            width: 100%;
        }
        h2{
            font-size: 4vw
            
        }
        .img2_container{
            height: 70px;
            width: 70px;
            margin-left: auto;
        }
        .about_me__p{
            font-size: 2.5vw;
        }
        .about_me__ul__li{
            font-size: 1.5vw;
        }
}

@media (max-width: 900px){
    
    #Inicio{
        display: none;
    }
    

    header{
        border-radius: 0;
    }
    nav{
        margin: 0;
    }

    .nav__ul{
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding: 0;

    }
    .nav__li{
        margin: 5px;
        padding: 5px;
        font-size: 4vw;
        margin-right: 0;
    }
    .nav__li:first-child{
        width: 100%;
        text-align: center;
    }

    .nav__li:first-child > h1{

        font-size: 7vw

        
    }
    .nav__li_contacto{
        font-size: 4vw;
        padding: 5px;
        margin: 5px;
    }
    .main_page{border-radius: 0;}
    
    .title{
        flex-direction: column;
        gap: 0;
        padding-left: 0;
        padding-bottom: 0;
        margin: 0;
        margin-top: 20px;
    }

    .img_container{
        height: 40vw;
        width: 40vw;
    }
    h2{
        text-align: center;
        margin: 15px;
        font-size: 7vw
    }
    .img2_container{
        display: block;
        height: 10vw;
        width: 10vw;
        margin-bottom: 15px;
        margin-left: 0;
        
    }
    .about_me{
        flex-direction: column-reverse;
    }
    .about_me__p{
        width: 100%;
    }
    aside{
        padding: 0;
    }
    aside ul li{
        padding: 0 3px;
    }
    .about_me__ul{
        width: 90%;
        display: flex;
        align-items: baseline;
        padding: 0 10px;
    }
    .about_me__p{
        font-size: 5vw;
        margin-top: 30px;
        padding: 0 20px;
    }
    .about_me__ul__li{
        font-size: 2.8vw;
        text-align: center;
        margin: 15px 0;

    }
    .trayectoria{
        border-radius: 0;
        box-shadow: none;
        margin-top: 0;
    }
}

@media (max-width:750px){
    .timeline{
        grid-template-columns: 80px 4px auto;
    }
    .timeline__data_left{
        grid-column: 3;
        margin: 10px 0 20px 20px;
    }
    .timeline__middle.second{
        grid-column: 2;
        grid-row: 2;
    }
    .timeline__component.second{
        grid-column: 1;
        grid-row: 2;
    }
    .timeline__date{
        padding-left: 0;
        padding-right: 20px;
    }
    .timeline__middle.fourth{
        grid-column: 2;
        grid-row: 4;
    }
    .timeline__component.fourth{
        grid-column: 1;
        grid-row: 4;
    }
    .timeline__middle.fifth{
        grid-column: 2;
        grid-row: 6;
    }
    .timeline__component.fifth{
        grid-column: 1;
        grid-row: 6;
    }
    .trayectoria h3{
        font-size: 4vw;
    }
    .trayectoria h4{
        font-size: 3vw;
    }


}
